@import "../../../assets/css/colors";
@import "../../../assets/css/fonts";

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  .marquee-text-wrapper {
    margin: 0;
    //maybe calc function ? minus header height?
    background-color: $color-yellow;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }

  .marquee-text {
    padding: 0.1rem 6rem;
    color: #000000;
    font-family: $AlteDin, Helvetica;
    font-size: 2.2rem;
    white-space: nowrap;
    letter-spacing: 1.2rem;
    animation: move-rtl 10s linear infinite;
  }

  @keyframes move-rtl {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .container-newsfeed {
    width: 98%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
  }

  .button-menu {
    background-color: $color-lightgrey;
    padding: 3rem;
  }

  .button-menu ul {
    list-style: none;
    padding: 0;
  }

  .button-menu li {
    background-color: $color-white;

    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid $color-lightgrey;
    border-radius: 25rem;
    color: $color-lightgrey;
    // transition: transform 0.3s ease;
    cursor: pointer;

    a {
      letter-spacing: 0.1rem;
      font-size: 1.5rem;
      color: $color-purple;
    }

    .parent-buttons {
      color: $color-purple;
      text-decoration: none;
      display: block;
    }

    &:hover {
      background-color: $color-lightgrey;
      color: $color-white;

      a {
        color: $color-white;
      }
    }
  }

  // @keyframes wobble {
  //   0%,
  //   100% {
  //     transform: rotate(0deg);
  //   }
  //   25% {
  //     transform: rotate(-5deg);
  //   }
  //   75% {
  //     transform: rotate(5deg);
  //   }
  // }

  .newsfeed-grid {
    box-shadow: 0 0.4rem 0.88rem $color-greengrey;
    border-radius: 0.6rem;
    // border: 1px solid $color-purple;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    gap: 4rem;
  }

  .back-to-top {
    position: fixed;
    bottom: 18vh;
    right: 2vh;
    cursor: pointer;
    z-index: 20;
    border: none;
    outline: none;
    background-color: transparent;
  }
}
