@import "../../assets/css/main.scss";

* {
  box-sizing: border-box;
}

.header-desktop {
  margin: 0;
  background-color: $color-white;
  box-shadow: 0 0.4rem 0.88rem $color-grey;

  height: 10.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-self: center;
  z-index: 50;

  .logo {
    height: 120%;
     .blue-owl {
      height: 100%;
    }
  }

  .title-path {
    margin-top: -0.5rem;
    padding-right: 1rem;
    color: $color-purple;
    font-family: $AlteDin;
    font-size: 11rem;
    font-weight: 500;
    letter-spacing: 0.9rem;
    line-height: 11vh;
    text-align: right;
  }
}
