.landing-container {
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0) center no-repeat;
    z-index: 1;
  }
  
  .landing-iframe {
    width: 150px;
    height: 150px;
    border: none;
  }