.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-x: auto;
  width: 100%;
  border: 2px solid red;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  width: 3000px;
}
