$color-white: white;
$color-purple: #711fdc;
$color-purple2: #b59cd6;
$color-purple3: #711fdc23;
$color-yellow: #f3f611;
$color-greengrey: #c0ccc0;
$color-lightgrey: #d1d9d1;
$color-grey: #848a84;
$color-overlay: #c0ccc08a;
