@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Almendra";
  src: url("/fonts/AlmendraDisplay-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Suetterlin";
  src: url("/fonts/Suetterlin-HJZ-Italic_1911.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlteDin";
  src: url("/fonts/din1451alt.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 2.5rem;
}

body {
  font-family: "AlteDin", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.container .container-calendar {
  margin: 0;
  width: 98%;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
}
.container .container-calendar .parent-buttons {
  color: #711fdc;
  text-decoration: none;
  display: block;
}
.container .container-calendar .calendar-div {
  padding: 2rem 10rem;
  box-shadow: 0 0.4rem 0.88rem #c0ccc0;
  margin: 2% 0;
  border-radius: 0.6rem;
  background-color: white;
}
.container .container-calendar .calendar-div .event-calendar {
  font-size: 1.4rem;
}
.container .container-calendar .calendar-div .fc-header-toolbar {
  font-family: "AlteDin", sans-serif;
  color: #c0ccc0;
  letter-spacing: 0.2rem;
}
.container .container-calendar .calendar-div .fc-header-toolbar .fc-button-group button {
  background-color: #c0ccc0;
  border: none;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.container .container-calendar .calendar-div .fc-header-toolbar .fc-today-button {
  background-color: transparent;
  color: #711fdc;
  border: none;
  font-size: 1.6rem;
}
.container .back-to-top {
  position: fixed;
  bottom: 18vh;
  right: 2vh;
  cursor: pointer;
  z-index: 20;
  border: none;
  outline: none;
  background-color: transparent;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 31, 220, 0.137254902);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.background-overlay .modal-window {
  border: 3px solid #711fdc;
  min-height: 40vh;
  background-color: white;
  box-shadow: 0 0.4rem 0.88rem rgba(113, 31, 220, 0.137254902);
  border-radius: 0.6rem;
  padding: 5rem;
  position: relative;
}
.background-overlay .modal-window .close {
  font-family: "Almendra", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
.background-overlay .modal-window .form-event {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  flex-direction: column;
  align-items: stretch;
}
.background-overlay .modal-window .form-event .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.background-overlay .modal-window .form-event .input-group label {
  margin-bottom: 0.5rem;
}
.background-overlay .modal-window .form-event .input-group input,
.background-overlay .modal-window .form-event .input-group textarea {
  padding: 0.6rem 1rem;
  border: 1px solid #848a84;
  border-radius: 0.3rem;
  border-radius: 4rem;
}
.background-overlay .modal-window .form-event .submit-button {
  background-color: #c0ccc0;
  border-radius: 4rem;
  outline: none;
  border: none;
  padding: 0.6rem 1rem;
}
