:root {
  height: 100vh;
  width: 100vw;
 // font-size: 62.5%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  // font-family: $Ubuntu;
  font-family: $AlteDin;
  background-color: $color-white;
  overflow-x: hidden;
}

// das code ist für die input felder

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}