:root {
  
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 2.5rem;
}

body {
<<<<<<< HEAD:frontend/src/assets/css/roots.scss
  // font-family: $Ubuntu;
  font-family: $AlteDin;
  background-color: $color-white;
  overflow-x: hidden; 
=======
  font-family: $Ubuntu;
  background-color: $color-white;
  
>>>>>>> dev:frontend/src/css/scss/components/root.scss
}
